.carrusel{
    
    height: inherit;
    margin: 0 10px 20px 20px;
       
}

.separador{
    height: 65px !important;
}

.carruselDiv{
    display: flex;
        align-items: center;
        justify-content: center;
    width: 100%;
}

