.collection-item {
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
  
    .image {
      width: 100%;
      height: 95%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
    } 

    .cardbody{
        text-align: center;
    }
    
}
  
  