.floatLeft{
    float: left;
}
.floatRigth{
    float: right;
}
.displayFlex{
    display: flex;
}
.marginLeft5px{
    margin-left: 5px!important;
}
.marginRight5px{
    margin-right: 5px!important;
}
.marginLeft10px{
    margin-left: 10px!important;
}
.marginRight10px{
    margin-right: 10px!important;
}
.marginLeft20px{
    margin-left: 20px!important;
}
.marginRight20px{
    margin-right: 20px!important;
}
.height500px{
    height: 500px!important;
}
.height440px{
    height: 440px!important;
}
.carousel-demo .product-item .product-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: .3rem;
    text-align: center;
    padding: 2rem 0;
}

.carousel-demo .product-item .product-image {
    width: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.height50{
    height: 50%!important;
}

.height200{
    height: 200px!important;
}
.width100{
    width: 100%!important;
}
.width20{
    width: 40px!important;
}
.margin-bottom0{
    margin-bottom:0px!important;
}
.flex{
    display: flex;
}
.padding11{
    padding: 15px!important;
}
.padding-bottom0{
    padding-bottom: 0px;
}
.padding-top0{
    padding-top: 0px;
}
.textdecorationunderline{
    text-decoration: underline;
}
.fontweightbold{
    font-weight: bold;
}
.borderradius30{
    border-radius: 30px!important;
}
.margin0{
    margin: 0px!important;
}

.p-md-5{    
    padding: 0px!important;
}

.loaddingCenter{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.wrapper{
    font-family: playfair;
}